.music {
    /* Allow the music element to take up remaining space */
    min-height: 500px;
    width: 100%;
    /* Make the music element fill the height */
    background-color: #eaeff1;
    padding: 2.5%;
    position: relative;
    border-radius: 10px;
    /* flex: 1; */
    animation: movedown 1s ease-in forwards;
    /* bottom: 0;
    margin-top: 0%;
    margin-bottom: 0; */
    display: grid;
    grid-template-rows: 20% 80%;
    background-color: #9210b0;
    opacity: 0.8;
    background-color: #9210b0;
    opacity: 0.9;
    background-color: rgba(147, 16, 176, 0.89);
    opacity: 0.9;
    background-image: linear-gradient(30deg, #c06d00 12%, transparent 12.5%, transparent 87%, #c06d00 87.5%, #c06d00), linear-gradient(150deg, #c06d00 12%, transparent 12.5%, transparent 87%, #c06d00 87.5%, #c06d00), linear-gradient(30deg, #c06d00 12%, transparent 12.5%, transparent 87%, #c06d00 87.5%, #c06d00), linear-gradient(150deg, #c06d00 12%, transparent 12.5%, transparent 87%, #c06d00 87.5%, #c06d00), linear-gradient(60deg, #c06d0077 25%, transparent 25.5%, transparent 75%, #c06d0077 75%, #c06d0077), linear-gradient(60deg, #c06d0077 25%, transparent 25.5%, transparent 75%, #c06d0077 75%, #c06d0077);
    background-size: 62px 109px;
    background-position: 0 0, 0 0, 31px 54px, 31px 54px, 0 0, 31px 54px;

}

.login-btn {
    font-family: "AkiraExpanded-SuperBold";

}



.music-wrap {
    display: flex;
    align-items: center;
    position: sticky;
    /* margin-top: -50px; */
    background-color: #fab55a;
    /* max-width: 90%; */
    width: 160px;
    z-index: 1000;
    height: 70px;
    gap: 1px;
    width: fit-content;
    justify-content: space-between;
    border-radius: 30px;
    height: fit-content;
    /* max-width: 100px;
    max-height: 100px; */
    /* margin-left: 2em; */
    padding: 0.5em;
}

.music h1 {
    width: auto;
    font-family: "AkiraExpanded-SuperBold";
    font-size: 22px;
}

.music h2 {
    width: auto;
    font-family: "AkiraExpanded-SuperBold";
    font-size: 12px;
}

.music-wrap p {
    text-align: end;
    font-size: 12px;

    font-family: "AkiraExpanded-SuperBold";
}

.music-wrap-img {
    height: 50px;
    aspect-ratio: 1/1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.controls {
    display: grid;
    justify-content: center;
    bottom: 0;
    margin-bottom: 0;
    grid-template-columns: repeat(3, 1fr);
    height: 60%;
}

.musicheader {
    display: flex;
    /* position: relative; */
    position: sticky;
    justify-content: space-between;
    /* max-height: 20%; */

}

.playlists {
    display: flex;
    flex-direction: column;
    gap: 10px;

    /* position: relative; */
}

.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.playlist-item {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    gap: 10px;
    position: relative;
    /* overflow-y: scroll; */

    padding: 0.8em;
    border-radius: 15px;
    height: auto;
    width: auto;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.playlist-details {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.playlist-name {
    display: -webkit-box;
    /* Fallback for older browsers */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Number of lines before truncating */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 50%;
    line-height: 15px;
    max-height: 30px;
    text-align: left;
}

.playlist-details p {
    font-size: 12px;
    color: white;
    font-weight: bold;
    visibility: visible;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    /* z-index: 2; */
}

.play-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    overflow-y: scroll;

    list-style: none;
}

.musicheader img {
    max-height: 100%;
    border-radius: 100%;
    margin-left: 1em;
    transition: all 0.3s ease-in-out;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #FFF;
}

::-webkit-scrollbar-thumb {
    background-color: #CBCBCB;
    outline: 2px solid #FFF;
    outline-offset: -2px;
    border: .1px solid #B7B7B7;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #909090;
}

.playlist-image {
    overflow: hidden;
    max-height: 120px;
    min-width: 120px;
    border-radius: 5px;

    aspect-ratio: 1/1;
}

.playlist-image img {

    max-width: 100%;
    min-height: 100%;
    object-fit: cover;

}


@keyframes roll {
    from {
        opacity: 0;
        transform: translateX(-60px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.track-header {
    display: flex;
    top: 0;
    z-index: 1;
    /* position: sticky; */
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.navig {
    display: flex;
    height: 40px;
    gap: 20px;
    width: auto;

}

.back-button,
.forth-button {
    aspect-ratio: 1/1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: -1; */
    border-radius: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.back-button svg,
.forth-button svg {
    transition: transform 200ms ease-in-out;
}

.back-button:hover svg {
    transform: translateX(-18px);
}

.forth-button:hover svg {
    transform: translateX(18px);
}


.track-item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    border: 1px solid rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    background-color: rgb(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 0.5em;
}

.track-item img {
    max-width: 150px;
    border-radius: 12px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.cover-det {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.track-list {
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    /* padding: 1em; */
    gap: 5px;
}

.track-details {
    padding-top: 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.track-list p {
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.track-name {
    font-weight: 800;
}

.track-preview audio {
    border-radius: 12px;
    width: 100%;
}

.music-wrap svg {
    position: absolute;
    /* bottom: 0; */
    left: 2px;
    z-index: -1;
    width: 98%;
    rotate: 180deg;
    margin-bottom: -70px;
    /* top: 0; */
}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 L 0,400 C 27.241068048406383,292.38513670404893 54.482136096812766,184.7702734080978 87,140 C 119.51786390318723,95.22972659190218 157.3125236611553,113.30404307165765 186,142 C 214.6874763388447,170.69595692834235 234.2677692585661,210.0135543052717 264,188 C 293.7322307414339,165.9864456947283 333.61639930458017,82.64173970725558 370,91 C 406.38360069541983,99.35826029274442 439.26663352311306,199.41948686570592 464,201 C 488.73336647688694,202.58051313429408 505.31706660296766,105.68031282992074 534,79 C 562.6829333970323,52.31968717007926 603.4651000650166,95.85926181461113 639,133 C 674.5348999349834,170.14073818538887 704.8225331369661,200.88263991163478 729,213 C 753.1774668630339,225.11736008836522 771.244767387119,218.61017853884982 795,212 C 818.755232612881,205.38982146115018 848.1983973145582,198.6766459329659 885,196 C 921.8016026854418,193.3233540670341 965.9616433546485,194.68323772928673 997,196 C 1028.0383566453515,197.31676227071327 1045.9550292668482,198.59040314988727 1070,191 C 1094.0449707331518,183.40959685011273 1124.2182395779582,166.95514967116424 1157,166 C 1189.7817604220418,165.04485032883576 1225.1720124213189,179.5889981654558 1258,150 C 1290.8279875786811,120.41100183454421 1321.0937107367658,46.68885766701263 1351,81 C 1380.9062892632342,115.31114233298737 1410.453144631617,257.6555711664937 1440,400 L 1440,400 L 0,400 Z");
    }

    25% {
        d: path("M 0,400 L 0,400 C 37.26771071469466,258.87678665936227 74.53542142938932,117.75357331872449 102,84 C 129.46457857061068,50.24642668127551 147.12602499713742,123.86249338446427 174,155 C 200.87397500286258,186.13750661553573 236.96047858206117,174.7964531434185 267,181 C 297.03952141793883,187.2035468565815 321.0320606746179,210.95169404186183 354,189 C 386.9679393253821,167.04830595813817 428.9112787194672,99.39677068913416 459,94 C 489.0887212805328,88.60322931086584 507.32282444751365,145.4612232016015 530,157 C 552.6771755524863,168.5387767983985 579.797423490478,134.7583365044597 616,125 C 652.202576509522,115.2416634955403 697.4874815905744,129.50543078055964 731,159 C 764.5125184094256,188.49456921944036 786.2526501472245,233.2199403733017 816,216 C 845.7473498527755,198.7800596266983 883.5019178205274,119.61480772623352 910,121 C 936.4980821794726,122.38519227376648 951.7396785706655,204.32082872176423 978,208 C 1004.2603214293345,211.67917127823577 1041.5393678968107,137.1018773867096 1071,120 C 1100.4606321031893,102.89812261329043 1122.1028498420922,143.27166173139747 1158,177 C 1193.8971501579078,210.72833826860253 1244.049232734821,237.8114756877007 1273,215 C 1301.950767265179,192.1885243122993 1309.7002192186226,119.48243551779979 1334,142 C 1358.2997807813774,164.5175644822002 1399.1498903906886,282.2587822411001 1440,400 L 1440,400 L 0,400 Z");
    }

    50% {
        d: path("M 0,400 L 0,400 C 28.215699733687998,272.26439029688555 56.431399467375996,144.52878059377105 91,114 C 125.568600532624,83.47121940622894 166.490101864184,150.14926792180134 196,177 C 225.509898135816,203.85073207819866 243.60819307588798,190.8741477190235 270,177 C 296.391806924112,163.1258522809765 331.07712583226413,148.35414120210447 367,143 C 402.92287416773587,137.64585879789553 440.08330359505555,141.70928747255851 465,142 C 489.91669640494445,142.29071252744149 502.58965978751394,138.80870890766136 526,133 C 549.4103402124861,127.19129109233863 583.5580572548889,119.05587689679598 617,129 C 650.4419427451111,138.94412310320402 683.1781111929307,166.96778350515464 718,175 C 752.8218888070693,183.03221649484536 789.7294979733882,171.07298908258545 822,177 C 854.2705020266118,182.92701091741455 881.9038969135169,206.74026016450358 907,219 C 932.0961030864831,231.25973983549642 954.654914372544,231.96597025940025 984,216 C 1013.345085627456,200.03402974059975 1049.4764455963075,167.39585879789547 1084,146 C 1118.5235544036925,124.60414120210451 1151.439303242227,114.45059454901772 1184,133 C 1216.560696757773,151.54940545098228 1248.7663414347849,198.8017630060337 1276,201 C 1303.2336585652151,203.1982369939663 1325.495331018633,160.3423534268475 1352,186 C 1378.504668981367,211.6576465731525 1409.2523344906836,305.82882328657627 1440,400 L 1440,400 L 0,400 Z");
    }

    75% {
        d: path("M 0,400 L 0,400 C 26.389201428329592,286.0115100636367 52.778402856659184,172.02302012727344 86,134 C 119.22159714334082,95.97697987272656 159.2755900016929,133.91942955454297 192,161 C 224.7244099983071,188.08057044545703 250.1192371365692,204.2992616545547 273,206 C 295.8807628634308,207.7007383454453 316.24746145203045,194.8835238272383 349,180 C 381.75253854796955,165.1164761727617 426.890917055309,148.16664303649216 458,158 C 489.109082944691,167.83335696350784 506.1888703267334,204.44990402679304 534,193 C 561.8111296732666,181.55009597320696 600.353601637757,122.0337408563356 634,112 C 667.646398362243,101.9662591436644 696.3967231222385,141.41513254786452 726,133 C 755.6032768777615,124.58486745213548 786.0595058732887,68.30572895220637 819,79 C 851.9404941267113,89.69427104779363 887.3652533846067,167.36195164331005 915,195 C 942.6347466153933,222.63804835668995 962.4794805882846,200.24646447455348 986,173 C 1009.5205194117154,145.75353552544652 1036.7168242622554,113.652190458476 1067,99 C 1097.2831757377446,84.347809541524 1130.6532223626948,87.14477369154253 1163,93 C 1195.3467776373052,98.85522630845747 1226.6702862869665,107.76871477535391 1259,109 C 1291.3297137130335,110.23128522464609 1324.665632489438,103.78036720704173 1355,151 C 1385.334367510562,198.21963279295827 1412.667183755281,299.1098163964791 1440,400 L 1440,400 L 0,400 Z");
    }

    100% {
        d: path("M 0,400 L 0,400 C 27.241068048406383,292.38513670404893 54.482136096812766,184.7702734080978 87,140 C 119.51786390318723,95.22972659190218 157.3125236611553,113.30404307165765 186,142 C 214.6874763388447,170.69595692834235 234.2677692585661,210.0135543052717 264,188 C 293.7322307414339,165.9864456947283 333.61639930458017,82.64173970725558 370,91 C 406.38360069541983,99.35826029274442 439.26663352311306,199.41948686570592 464,201 C 488.73336647688694,202.58051313429408 505.31706660296766,105.68031282992074 534,79 C 562.6829333970323,52.31968717007926 603.4651000650166,95.85926181461113 639,133 C 674.5348999349834,170.14073818538887 704.8225331369661,200.88263991163478 729,213 C 753.1774668630339,225.11736008836522 771.244767387119,218.61017853884982 795,212 C 818.755232612881,205.38982146115018 848.1983973145582,198.6766459329659 885,196 C 921.8016026854418,193.3233540670341 965.9616433546485,194.68323772928673 997,196 C 1028.0383566453515,197.31676227071327 1045.9550292668482,198.59040314988727 1070,191 C 1094.0449707331518,183.40959685011273 1124.2182395779582,166.95514967116424 1157,166 C 1189.7817604220418,165.04485032883576 1225.1720124213189,179.5889981654558 1258,150 C 1290.8279875786811,120.41100183454421 1321.0937107367658,46.68885766701263 1351,81 C 1380.9062892632342,115.31114233298737 1410.453144631617,257.6555711664937 1440,400 L 1440,400 L 0,400 Z");
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.music-wrap-img-playing {
    animation: spin 5s ease-in-out infinite;
    scale: 1.1;
    /* transition: transform ease-in-out; */
    height: 50px;
    aspect-ratio: 1/1;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}